extends layout
include mixins/social
include mixins/gridItem
include mixins/nav

block content
  .blog.barba-container
    +nav()
    .blog_grid
      +gridItem(h.gridItems[0])
      +gridItem(h.gridItems[2])
      +gridItem(h.gridItems[1])
      +gridItem(h.gridItems[0])
      +gridItem(h.gridItems[2])
      +gridItem(h.gridItems[1])
      +gridItem(h.gridItems[0])
      +gridItem(h.gridItems[2])
      +gridItem(h.gridItems[1])
      +gridItem(h.gridItems[0])
      +gridItem(h.gridItems[2])
      +gridItem(h.gridItems[1])
      +gridItem(h.gridItems[0])
      +gridItem(h.gridItems[2])
      +gridItem(h.gridItems[1])
      .blog_grid--item.last_link
        .content
          a(href='#') See all posts on medium.