extends layout
include mixins/social
include mixins/gridItem
include mixins/nav

block content
  .blog.barba-container
    +nav()
    .blog_grid
      .blog_grid--item
        .content
          a(href='https://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html')
            img.content--image(src='/images/photos/blog/google-fonts-cover-blue-1.jpg')
          a.content--desc(href='https://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html') 20 Best Google Web Fonts
      .blog_grid--item
        .content
          a(href='https://www.quicksprout.com/the-advanced-guide-to-content-marketing-chapter-5/')
            img.content--image(src='/images/photos/blog/Content marketing.jpg')
          a.content--desc(href='https://www.quicksprout.com/the-advanced-guide-to-content-marketing-chapter-5/') The Advance Content Marketing Guide
      .blog_grid--item
        .content
          a(href='https://tech.co/unique-marketing-actually-work-2017-02')
            img.content--image(src='/images/photos/blog/poster.jpg')
          a.content--desc(href='https://tech.co/unique-marketing-actually-work-2017-02') 10 Unique Marketing Strategies That Actually Work
      .blog_grid--item
        .content
          a(href='https://theblog.adobe.com/12-dos-donts-web-design-2/')
            img.content--image(src='/images/photos/blog/AdobeStock.jpeg')
          a.content--desc(href='https://theblog.adobe.com/12-dos-donts-web-design-2/') The 12 Do’s and Don’ts of Web Design
      .blog_grid--item
        .content
          a(href='https://www.appcues.com/blog/digital-product-trends-2018')
            img.content--image(src='/images/photos/blog/3 digital product trends.jpg')
          a.content--desc(href='https://www.appcues.com/blog/digital-product-trends-2018') 3 Digital Product Trends That Will Shape 2018
      .blog_grid--item
        .content
          //- img.content--image(src='/images/photos/blog/3 digital product trends.jpg')
          a.content--desc(href='https://www.forbes.com/forbes/welcome/?toURL=https://www.forbes.com/sites/forbescommunicationscouncil/2018/02/14/12-marketing-trends-to-take-advantage-of-this-year/&refURL=&referrer=#4ea300b07401') 12 Marketing Trends To Take Advantage Of This Year
      .blog_grid--item
        .content
          a(href='http://ideas.capacityinteractive.com/google-analytics-powerful')
            img.content--image(src='/images/photos/blog/Google Analytics.jpg')
          a.content--desc(href='http://ideas.capacityinteractive.com/google-analytics-powerful') Google Analytics: Powerful or Useless? That Depends on You