extends layout
include mixins/social
include mixins/gridItem

block content
  .blog_grid
    +gridItem(h.gridItems[0])
    +gridItem(h.gridItems[2])
    +gridItem(h.gridItems[1])
    +gridItem(h.gridItems[0])
    +gridItem(h.gridItems[2])
    +gridItem(h.gridItems[1])
    +gridItem(h.gridItems[0])
    +gridItem(h.gridItems[2])
    +gridItem(h.gridItems[1])
    +gridItem(h.gridItems[0])
    +gridItem(h.gridItems[2])
    +gridItem(h.gridItems[1])
    +gridItem(h.gridItems[0])
    +gridItem(h.gridItems[2])
    +gridItem(h.gridItems[1])