doctype html
html
  head
    title= `${title} | Montaigne Smart Business Solutions`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet', href='/dist/animate.min.css')
    link(rel='stylesheet', href='/dist/snackbar.min.css')
    link(rel="shortcut icon" type="image/png" href="/images/photos/logo 512X512 black.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=`${description}`)
    meta(name="keywords" content=`${keywords}`)
    meta(property="og:url" content="https://montaigne.co")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Montaigne Smart Bussiness Solutions")
    meta(property="og:description" content="Montaigne Smart Business Solutions is an Indian start-up that envisions to help businesses monetize their dossiers with its simplistic analytical solutions. With our proprietary analytical models, an affiliate market research network and strong data science expertise, we are here to help build, organize and maintain your very own data management & retrieval systems. At Montaigne, a dedicated expert team keeps a constant watch on the consumer patterns, allowing precision targeting for your product/service promotion needs")
    meta(property="og:image" content="https://www.montaigne.co/images/photos/FB.jpg")
    script(src="/seo/josn_ld.js" type="application/ld+json")
    script(src="/seo/gtm_head.js")
  body

    .content(id="barba-wrapper")
      block content

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
      script(src="/dist/snackbar.min.js")
      script
        include mixins/changeMember.js
      | <!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCGP5PW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
