doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet', href='/dist/animate.min.css')
    link(rel='stylesheet', href='/dist/snackbar.min.css')
    link(rel="shortcut icon" type="image/png" href="/images/photos/logo 512X512 black.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    .content(id="barba-wrapper")
      block content

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
      script(src="/dist/snackbar.min.js")
      script
        include mixins/toggleNav.js
        include mixins/changeMember.js