extends layout
include mixins/social
include mixins/nav

block content
  .our_story.barba-container
    +nav()
    .content
      .top_section
        .top_section-text
          p Every time the idea of setting up a company crosses somebody’s mind,the need for a problem statement and the ability to bridge consumers with the solution is the most crucial necessity.
          p Montaigne is the result of addressing the need to address this problem. We help you reach out to the user and effectively connect them to your solutions and products.Now that we’re here,you might as well know the people who make Montaigne what it is.
      .team
        .team--info
          .team--info-header
            p Meet The Team
          .team--info-body.animated
            .team--info-body-left
              p.first-name Rohith
              p.last-name Sampathi
              em.designation CEO & Founder
            .team--info-body-right
              p.details Rohith Sampathi is a management consultant, free-lance writer, business marketer and an automotive enthusiast. During his journey with market intelligence industry, he was extensively working on research modeling for animal nutrition, automotive and machinery industries. Further, having worked as the Marketing Lead for a market research firm in the highly competitive paid marketing arena, his expertise in marketing for a diverse user-base is notable.
              .member-social
                a(href='https://www.linkedin.com/in/rohith-sampathi-053ba03b/')
                  div.Li
                a(href='https://twitter.com/Rohith_Sampathi')
                  div.Tw
        .team--slider
            .member-image.active(id='member-1-image' onclick="changeMember('#member-1-image', 0)")
            .member-image(id='member-2-image' onclick="changeMember('#member-2-image', 1)")
            .member-image(id='member-3-image' onclick="changeMember('#member-3-image', 2)")
            .member-image(id='member-4-image' onclick="changeMember('#member-4-image', 3)")
            .member-image(id='member-5-image' onclick="changeMember('#member-5-image', 4)")
            .member-image(id='member-6-image' onclick="changeMember('#member-6-image', 5)")
            .member-image(id='member-7-image' onclick="changeMember('#member-7-image', 6)")
            .member-image(id='member-8-image' onclick="changeMember('#member-8-image', 7)")