extends layout
include mixins/social
//- include mixins/teamMember

block content
  .our_story
    .top_section
      .top_section-text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor in nemo facilis accusantium eligendi officiis explicabo illum, perspiciatis ratione. Magnam, praesentium? Cum, eos commodi similique amet possimus aliquam. Pariatur repellat obcaecati omnis molestias voluptas nemo aliquid accusantium laudantium reiciendis ipsum. Et eveniet ratione blanditiis minima obcaecati voluptas consequuntur esse nihil expedita architecto iure, earum tempore voluptate accusantium.
        p Fugit, nemo inventore! Repudiandae amet cum illum, aspernatur porro quod ad maiores quisquam pariatur delectus eaque at quo in culpa nesciunt quos ex minima itaque est accusantium, non tempore officia! Neque suscipit, temporibus porro hic ut sunt quo sed eveniet! Aut explicabo nulla unde, dolore, ad quasi sed autem aperiam doloremque qui deserunt a suscipit rem pariatur incidunt, velit quam cupiditate quo iste laudantium optio? Commodi.
    .team
      .team--slider
          img.member-image.member-1(src='/images/photos/placeholder_active.png')
          img.member-image.member-2(src='/images/photos/placeholder.png')
          img.member-image.member-3(src='/images/photos/placeholder.png')
          img.member-image.member-4(src='/images/photos/placeholder.png')
          img.member-image.member-5(src='/images/photos/placeholder.png')
          img.member-image.member-6(src='/images/photos/placeholder.png')
          img.member-image.member-7(src='/images/photos/placeholder.png')
      .team--info
        p.header Meet The Team
        p.first-name Ratnasambhav
        p.last-name Priyadarshi
        p.designation Developer
        p.details Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptate, impedit, repudiandae, accusamus officiis officia unde error necessitatibus beatae dignissimos temporibus laudantium tempore autem reprehenderit ipsa nisi labore expedita mollitia?
        .member--social
          a(href='#') Github
          a(href='#') LinkedIn
          a(href='#') Instagram
          a(href='#') Twitter