extends layout
include mixins/social
include mixins/teamMember

block content
  .our_story
    .top_section
      .top_section-text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor in nemo facilis accusantium eligendi officiis explicabo illum, perspiciatis ratione. Magnam, praesentium? Cum, eos commodi similique amet possimus aliquam. Pariatur repellat obcaecati omnis molestias voluptas nemo aliquid accusantium laudantium reiciendis ipsum. Et eveniet ratione blanditiis minima obcaecati voluptas consequuntur esse nihil expedita architecto iure, earum tempore voluptate accusantium.
        p Fugit, nemo inventore! Repudiandae amet cum illum, aspernatur porro quod ad maiores quisquam pariatur delectus eaque at quo in culpa nesciunt quos ex minima itaque est accusantium, non tempore officia! Neque suscipit, temporibus porro hic ut sunt quo sed eveniet! Aut explicabo nulla unde, dolore, ad quasi sed autem aperiam doloremque qui deserunt a suscipit rem pariatur incidunt, velit quam cupiditate quo iste laudantium optio? Commodi.
    .team
      each member in h.teamMembers
        +teamMember(member)
