extends layout
include mixins/social
include mixins/nav

block content
  .our_story.barba-container
    +nav()
    .content
      .top_section
        .top_section-text
          p Every time the idea of setting up a company crosses somebody’s mind,the need for a problem statement and the ability to bridge consumers with the solution is the most crucial necessity.
          p Montaigne is the result of addressing the need to address this problem.We help you reach out to the user and effectively connect them to your solutions and products.Now that we’re here,you might as well know the people who make Montaigne what it is.
      .team
        .team--info
          .team--info-header
            p Meet The Team
          .team--info-body.animated
            .team--info-body-left
              p.first-name Ananya
              p.last-name Chandra
              em.designation Content Engineer
            .team--info-body-right
              p.details A get-it-done policy individual running forward in life to learn and grow more. By the way,she binge watches shows, sings and looks for excellent buffet places around.
              .member-social
                a(href='https://www.linkedin.com/in/ananya-chalakani-981842143/')
                  div.Li
        .team--slider
            .member-image.active(id='member-1-image' onclick="changeMember('#member-1-image', 0)")
            .member-image(id='member-2-image' onclick="changeMember('#member-2-image', 1)")
            .member-image(id='member-3-image' onclick="changeMember('#member-3-image', 2)")
            .member-image(id='member-4-image' onclick="changeMember('#member-4-image', 3)")
            .member-image(id='member-5-image' onclick="changeMember('#member-5-image', 4)")
            .member-image(id='member-6-image' onclick="changeMember('#member-6-image', 5)")
            .member-image(id='member-7-image' onclick="changeMember('#member-7-image', 6)")
            .member-image(id='member-8-image' onclick="changeMember('#member-8-image', 7)")