extends layout
include mixins/social

block content
  .skillset.barba-container
    .section.incubation
      .image_section
      .text_section
        image.illustration(src='https://source.unsplash.com/random/100x100')
        span.header Incubation
        span.description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium corrupti quod fugiat sit voluptatum provident delectus quis, earum reiciendis illo perspiciatis dicta! Assumenda consectetur perspiciatis ipsam error corporis, libero veniam?
        a.link(href='/get_in_touch') Let's Talk!
    .section.creative-designing
      .image_section
    .section.ui_ux
      .text_section
        image.illustration(src='https://source.unsplash.com/random/100x100')
        span.header UI/UX
        span.description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium corrupti quod fugiat sit voluptatum provident delectus quis, earum reiciendis illo perspiciatis dicta! Assumenda consectetur perspiciatis ipsam error corporis, libero veniam?
        a.link(href='/get_in_touch') Let's Talk!
      .image_section
    .section.marketing
      .image_section
      .text_section
        image.illustration(src='https://source.unsplash.com/random/100x100')
        span.header Marketing
        span.description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium corrupti quod fugiat sit voluptatum provident delectus quis, earum reiciendis illo perspiciatis dicta! Assumenda consectetur perspiciatis ipsam error corporis, libero veniam?
        a.link(href='/get_in_touch') Let's Talk!
    .section.predictive_analytics
      .text_section
        image.illustration(src='https://source.unsplash.com/random/100x100')
        span.header Predictive Analytics
        span.description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium corrupti quod fugiat sit voluptatum provident delectus quis, earum reiciendis illo perspiciatis dicta! Assumenda consectetur perspiciatis ipsam error corporis, libero veniam?
        a.link(href='/get_in_touch') Let's Talk!
      .image_section