extends layout
include mixins/social
include mixins/nav

block content
  .skillset.barba-container
    +nav()
    .content
      .section.incubation
        .image_section
          .image
        .text_section
          img.illustration(src='/images/icons/egg-incubator.svg')
          span.header Incubation
          span.description Business-sitting start-ups is our cup of tea. Its almost safe to say that it’s not easy. From building its foundations,using high end analytic tools and AI, studying different consumer patterns, generating profit making strategies to sustaining its hard-earned revenue, its a long stretch. We leave the tea to you and take up the work.
          a.link(href='/get_in_touch') Tell us what you need!
      .section.creative-designing
        .text_section
          img.illustration(src='/images/icons/sketch.svg')
          span.header Creative Designing
          span.description Colours are good. Style is better. Animations are the best. There’s graphics in the kit as well. We build eye-candies in sync with the end user. By making your presence stronger on the internet, we make sure your business is thriving on the alternate dimension called the World Wide Web.
          a.link(href='/get_in_touch') We’re all eyes for your ideas!
        .image_section
          .image
      .section.ui_ux
        .image_section
          .image
        .text_section
          img.illustration(src='/images/icons/coding.svg')
          span.header UI/UX
          span.description The Visual aspect of any webpage we build is not limited to looking good. We realise how the user’s experience and feel when using a page greatly influences his/her judgement of the startup and the decisions that follow.After all,the first impression is always the best one!
          a.link(href='/get_in_touch') Got new ways? Let us know!
      .section.product_marketing
        .text_section
          img.illustration(src='/images/icons/business-affiliate-network.svg')
          span.header Product Marketing
          span.description You’d think marketing is reaching out to consumers right? That's exactly what it is. But we do it the smart way. Study consumer behaviour,traffic patterns  and using all the big word tools like AI and Analytics hence enabling users put their trust in us and you to become a widespread influence.
          a.link(href='/get_in_touch') You start here!
        .image_section
          .image
      .section.predictive_analytics
        .image_section
          .image
        .text_section
          img.illustration(src='/images/icons/planning.svg')
          span.header Predictive Analysis
          span.description All along these lines, you’ve heard of making strategies and studying data? Who’s the boss though? Montaigne uses tailor made as well as high end analytical tools including Artificial Intelligence to get deep insights and to understand lead generating patterns. Here’s a win-win as well.
          a.link(href='/get_in_touch') Curious? We’ll tell you.
      .section.content_engineering
        .text_section
          img.illustration(src='/images/icons/content.svg')
          span.header Content Engineering
          span.description We’d rather not bore you here. Surely, you’ve come across one of the most overly-used quotes in the world,” The pen is mightier than the sword”. Why? Because that’s what it does. It can make or break the build of a whole organisation or sway the reader’s decisions at no cost. Period.
          a.link(href='/get_in_touch') Lets talk!
        .image_section
          .image