extends layout
include mixins/nav

block content
  .working_with_us.barba-container
    .top_section
      +nav()
      .top_text
        p At Montaigne, we are a bunch of fun individuals constantly working in a handful of areas like Design, Analytics, Development and Marketing to help businesses and startups grow to their apex. Brand Enhancement, Improved Consumer patterns and Monetization are a few parts of the big result. Do not let the big words fool you. The work is engaging. (If not, you’ll get used to it. My word). We believe in “The more, the merrier”; And that refers to the kind of food ordered,the quantity of coffee made,the cut from working hours and the monopoly game length. A nicer and bigger workforce would help our motto stand.See you soon then!
    .form_section
      .hero_text
        .hero_text--line
          span.excited EXCITED
        .hero_text--line
          span.small TO BE &nbsp;
          span.part PART
        .hero_text--line
          span.small OF &nbsp;
          span.us US?
      form.form(action='/working_with_us' name='working_with-us' method='POST' enctype='multipart/form-data')
        .main_section
          | I <input type='text' name='name' id='name' required> WHO IS THE BEST AT <input type='text' name='interest' id='interest' required> WOULD LOVE TO MAKE EXCUSES, SPILL FOOD AND FIGHT OVER BEAN BAGS WITH ALL OF YOU. APART FROM THESE, I CAN WORK AND COME ON TIME. YOU'D BE CALLING ME ON <input type='text' name='number' id='number' required> AFTER I AM HIRED UNLESS YOU PREFER A MORE FANCY METHOD CALLED E-MAILING TO <input type='email' name='email' id='email' required>.
        .resume_section
          span HERE IS AN ORIGINAL RESUME FROM THE MANY I OWN.
          label(for='resume')
            | <span class='fake_btn'>UPLOAD</span>
          input(type='file' name='resume' id='resume' value='UPLOAD' accept='application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/jpeg, image/png, image/gif, application/pdf')
        input.submit_section(type='submit' value='SUBMIT')