mixin nav()
  block header
        nav.nav(id='nav')
          a(href='/')
            .nav_logo
            span.home_link Montaigne
          a(href='/skillset') Skillset
          a(href='/blog') Blog
          a(href='/our_story') Our Story
          a(href='/working_with_us') Working With Us
          a(href='/get_in_touch') Get In Touch
          a.icon(href='javascript:void(0)')!= h.icon('baseline-menu-24px')