mixin teamMember(member)
  .team--member
      img.team--member-photo(src=`${member.image}`)
      .team--member-info
        .name= member.name
        .designation= member.designation
        .details= member.details