.home {
  font-family: 'IBM Plex Sans', sans-serif;
  background-image: url('/images/photos/home-page-bg-2.jpg');
  background-size: cover;
  animation: bg-slide 400s linear infinite !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
    p {
      font-size: 1.2em;
      color: #fff;
      text-align: center;
      margin: 0;
    }
    .logo {
      max-width: 350px;
      max-width: 350px;
    }
    .meet {
      margin-bottom: 1em;
    }
    .arrow {
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    .content {
      p {
        font-size: 1em;
      }
      .logo {
        max-width: 320px;
        max-height: 320px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .home {
    .content {
      p {
        font-size: 1em;
      }
      .logo {
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
}

.typed-cursor {
  visibility: hidden;
}

@keyframes bg-slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -15811px 0;
  }
}