.our_story {
  font-family: 'IBM Plex Sans', sans-serif;
  .content {
    padding: 2em;
    .top_section {
      box-shadow: inset 0px 5px 10px 2px rgba(0,0,0,0.45);
      height: 450px;
      background: url('/images/photos/our-story-bg.jpg') center center;
      background-size: cover;
      padding: 2em 0 0 2em;
      &-text {
        width: 60%;
        font-size: 1.3em;
        line-height: 1.2;
      }
    }
    .team {
      width: 100%;
      display: flex;
      flex-direction: column;
      &--info {
        width: 100%;
        display: flex;
        &-header {
          margin-right: 3.5em;
          p {
            background: #000;
            padding: 0.5em;
            color: #fff;
            box-sizing: border-box;
            margin: 0;
            font-size: 1.5em;
            font-weight: 300;
            writing-mode: vertical-lr;
          }
        }
        &-body {
          padding: 2em;
          display: flex;
          justify-content: space-between;
          &-left {
            margin-right: 1em;
            .first-name, .last-name {
              padding: 0;
              margin: 0;
              font-size: 3em;
              font-weight: 700;
            }
            .first-name {
              background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            .last-name {
              margin-bottom: 0.2em;
            }
            .designation {
              font-size: 1.3em;
              font-weight: 300;
            }
          }
          &-right {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .details {
              text-align: justify;
              font-size: 1.4em;
              line-height: 1.2;
            }
            .member-social {
              margin-top: 1em;
              display: flex;
              a {
                text-decoration: none;
                color: #000;
                margin-right: 1em;
                svg {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
      }
      &--slider {
        width: 100%;
        height: 400px;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        align-items: center;
        .member-image {
          min-height: 400px;
          min-width: 300px;
          margin: 0 1em;
          background-size: cover;
          transition: border 0.5s linear;
        }
        .member-image.active {
          border: 10px solid gold;
        }
        .member-1 {
          margin-left: 0;
        }
      }
    }
  }
}

#member-1-image {
  background: url('/images/photos/teampics/ananya.jpg') center center;
  background-size: cover;
}
#member-2-image {
  background: url('/images/photos/teampics/rohith.jpg') center center;
  background-size: cover;
}
#member-3-image {
  background: url('/images/photos/teampics/bushan.jpg') center center;
  background-size: cover;
}
#member-4-image {
  background: url('/images/photos/teampics/nisha.jpg') center center;
  background-size: cover;
}
#member-5-image {
  background: url('/images/photos/teampics/ahmed.jpg') center center;
  background-size: cover;
}
#member-6-image {
  background: url('/images/photos/teampics/narendra.jpg') center center;
  background-size: cover;
}
#member-7-image {
  background: url('/images/photos/teampics/ratna.jpg') center center;
  background-size: cover;
}
#member-8-image {
  background: url('/images/photos/teampics/vamsi.jpg') center center;
  background-size: cover;
}

.member-social a div.Li {
  background: url('/images/icons/linkedin.svg') center center;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
}
.member-social a div.Fb {
  background: url('/images/icons/facebook.svg') center center;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
}
.member-social a div.Github {
  background: url('/images/icons/github.svg') center center;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
}
.member-social a div.Tw {
  background: url('/images/icons/twitter.svg') center center;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
}

@media screen and (max-width: 750px) {
  .our_story .content {
    .top_section {
      height: auto;
      padding: 5px;
      &-text {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .our_story .content {
    .team {
      &--info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &-header {
          margin: 0.5em 0 2em 0;
          p {
            width: auto;
            writing-mode: inherit;
          }
        }
        &-body {
          padding: 0;
          width: 100%;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          &-right {
            width: 100%;
            margin-bottom: 1em;
            .details {
              text-align: left;
            }
          }
          &-left {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .last-name {
              margin-bottom: 0.3em;
            }
          }
        }
      }
    }
  }
}