.skillset {
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: column;
  .section {
    height: 75vh;
    min-height: 435px;
    display: flex;
    .image_section {
      overflow: hidden;
      width: calc(100% - 500px);
      .image {
        transition: transform 500ms ease-in;
        width: 100%;
        height: 100%;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .text_section {
      padding: 3.5em;
      background-color: #F6F5F2;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .illustration {
        margin-bottom: 1em;
        max-width: 50px;
        max-height: 50px;
      }
      .header {
        text-align: center;
        margin-bottom: 1em;
        font-size: 2em;
        font-weight: 700;
      }
      .description {
        margin-bottom: 1em;
        font-size: 1.2em;
        line-height: 1.4;
        text-align: center;
      }
      .link {
        font-size: 1.3em;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        color: #000;
        border-bottom: 2px solid #000;
      }
    }
  }
  .incubation {
    .image_section {
      .image {
        background: url('/images/photos/incubation.jpg') center center;
        background-size: cover;
      }
    }
  }
  .creative-designing {
    .image_section {
      .image {
        background: url('/images/photos/creative_designing.jpg') center center;
        background-size: cover;
      }
    }
  }
  .ui_ux {
    .image_section {
      .image {
        background: url('/images/photos/ui_ux.jpg') center center;
        background-size: cover;
      }
    }
  }
  .product_marketing {
    .image_section {
      .image {
        background: url('/images/photos/product_marketing.jpg') center center;
        background-size: cover;
      }
    }
  }
  .predictive_analytics {
    .image_section {
      .image {
        background: url('/images/photos/predictive-analysis.jpg') center center;
        background-size: cover;
      }
    }
  }
  .content_engineering {
    .image_section {
      .image {
        background: url('/images/photos/content_engineering.jpg') center center;
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .skillset .section {
    .image_section {
      width: calc(100% - 400px);
    }
    .text_section {
      width: 400px;
      padding: 1em;
    }
  }
}

@media screen and (max-width: 1000px) {
  .skillset .section {
    .image_section {
      width: calc(100% - 300px);
    }
    .text_section {
      width: 300px;
      padding: 1em;
    }
  }
}

@media screen and (max-width: 700px) {
  .skillset .section {
    flex-direction: column;
    height: auto;
    .image_section {
      height: 40vh;
      width: 100%;
      order: 1;
    }
    .text_section {
      order: 2;
      width: auto;
      padding: 2em 1em;
    }
  }
}