.skillset {
  display: flex;
  flex-direction: column;
  .section {
    height: 60vh;
    display: flex;
    .image_section {
      width: calc(100% - 400px);
    }
    .text_section {
      padding: 3.5em;
      background-color: #F6F5F2;
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .illustration {
        border-radius: 50%;
        margin-bottom: 1em;
        box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.45);
      }
      .header {
        text-align: center;
        margin-bottom: 1em;
        font-size: 2em;
        font-weight: 700;
      }
      .description {
        margin-bottom: 1em;
        text-align: center;
      }
      .link {
        text-decoration: none;
        font-weight: 700;
        color: #000;
        border-bottom: 2px solid #000;
      }
    }
  }
  .incubation {
    .image_section {
      background: url('https://source.unsplash.com/random/1') center center fixed;
      background-size: cover;
    }
  }
  .creative-designing {
    .image_section {
      background: url('https://source.unsplash.com/random/2') center center fixed;
      background-size: cover;
    }
  }
  .ui_ux {
    .image_section {
      background: url('https://source.unsplash.com/random/3') center center fixed;
      background-size: cover;
    }
  }
  .marketing {
    .image_section {
      background: url('https://source.unsplash.com/random/4') center center fixed;
      background-size: cover;
    }
  }
  .predictive_analytics {
    .image_section {
      background: url('https://source.unsplash.com/random/5') center center fixed;
      background-size: cover;
    }
  }
}

@keyframes incubation{
	0% {background-position: 0px 0px;}
	100% {background-position: 0px -5600px; }
}